In [13]:
import pandas as pd

# 사용할 종목명 
comp_name = pd.read_excel('./csv/2022년 기준 코스피 상위종목_금융업제외.xlsx')
comp_name_list = comp_name["종목명"].values.tolist()
comp_name_list[:5]

['삼성전자', 'SK하이닉스', '삼성바이오로직스', '삼성전자우', '현대차']

### 투자자별 거래실적

In [ ]:
import os

# 투자자별 거래실적 경로
path = './csv/유가증권/투자자별 거래실적(1분)/2021/'

# 빈 리스트 생성
file_list = []

# 경로 내 모든 csv파일 리스트에 저장
for filename in os.listdir(path):
    if filename.endswith('.csv'):
        file_list.append(filename)

# 파일 정렬
file_list.sort()
# 빈 데이터 프레임 생성
full_df = pd.DataFrame()

# 리스트에 저장된 파일 하나씩 불러오기
for file in file_list:
    print(file)
    temp_df = pd.read_csv(path+file, encoding='CP949')

    # 데이터 프레임 내 "종목명" 컬럼 값 리스트 생성
    temp_df_list = temp_df["종목명"].tolist()
    
    # 제거할 종목명 리스트
    drop_list = [x for x in temp_df_list if x not in comp_name_list]
    
    # 불필요 종목 제거
    temp_df.drop(temp_df[temp_df["종목명"].isin(drop_list)].index, inplace=True)
    # "시장ID" 컬럼 제거
    temp_df.drop(["시장ID"], axis=1, inplace=True)
    # 외국인투자자 코드 9000을 제외한 나머지 코드 제거
    temp_df.drop(temp_df[temp_df["투자자구분코드"]!=9000].index, inplace=True)
    # 오전 9시 이전 거래 제거
    temp_df.drop(temp_df[temp_df["거래시각"] < 900].index, inplace=True)
    # 오후 3시30분 이후 거래 제거
    temp_df.drop(temp_df[temp_df["거래시각"] > 1530].index, inplace=True)
    # 인덱스 재설정
    temp_df.reset_index(drop=True, inplace=True)
    
    # 모든 데이터 프레임 하나의 데이터 프레임에 저장
    full_df = pd.concat([full_df, temp_df])   
     
# csv 파일로 저장
full_df.to_csv('./csv/유가증권/2021_투자자별_거래실적.csv', encoding='CP949')

### 외국인 보유량

In [16]:
# 2020년 외국인 보유량 csv 불러오기
foreign_201230_info = pd.read_csv('./csv/2020_foreigner/data_1116_20220717.csv', encoding='CP949')

# 데이터 프레임 내 "종목명" 컬럼 값 리스트 생성
foreign_201230_list = foreign_201230_info["종목명"].tolist()

# 제거해야 할 종목 리스트
drop_list = [x for x in foreign_201230_list if x not in comp_name_list]        

# 불필요 종목 제거
foreign_201230_info.drop(foreign_201230_info[foreign_201230_info["종목명"].isin(drop_list)].index, inplace=True)
# 인덱스 재설정
foreign_201230_info.reset_index(drop=True, inplace=True)

# 필요한 컬럼만 남긴다
foreign_201230_info = foreign_201230_info[["종목명", "상장주식수", "외국인 보유수량", "외국인 지분율"]]
foreign_201230_info

        종목명      상장주식수  외국인 보유수량  외국인 지분율
0       BGF   95716791   7825349     8.18
1    BGF리테일   17283906   5327151    30.82
2        CJ   29176998   5708861    19.57
3    CJ CGV   35100000   2087486     5.95
4    CJ대한통운   22812344   4797083    21.03
..      ...        ...       ...      ...
250  효성첨단소재    4479948    356654     7.96
251   효성티앤씨    4327682    759578    17.55
252    효성화학    3190126    307066     9.63
253      후성   92606819   4100705     4.43
254    흥아해운  116732559  26865373    23.01

[255 rows x 4 columns]

In [17]:
# 거래시각 10분 별로 나누는 함수
def test(b):
    if b <= 910:
        return 910
    elif b <= 920:
        return 920
    elif b <= 930:
        return 930
    elif b <= 940:
        return 940
    elif b <= 950:
        return 950
    elif b <= 1000:
        return 1000
    elif b <= 1010:
        return 1010
    elif b <= 1020:
        return 1020
    elif b <= 1030:
        return 1030
    elif b <= 1040:
        return 1040
    elif b <= 1050:
        return 1050
    elif b <= 1100:
        return 1100
    elif b <= 1110:
        return 1110
    elif b <= 1120:
        return 1110
    elif b <= 1130:
        return 1110
    elif b <= 1140:
        return 1110
    elif b <= 1150:
        return 1110
    elif b <= 1200:
        return 1200
    elif b <= 1210:
        return 1210
    elif b <= 1220:
        return 1220
    elif b <= 1230:
        return 1230
    elif b <= 1240:
        return 1240
    elif b <= 1250:
        return 1250
    elif b <= 1300:
        return 1300
    elif b <= 1310:
        return 1310
    elif b <= 1320:
        return 1320
    elif b <= 1330:
        return 1330
    elif b <= 1340:
        return 1340
    elif b <= 1350:
        return 1350
    elif b <= 1400:
        return 1400
    elif b <= 1410:
        return 1410
    elif b <= 1420:
        return 1420
    elif b <= 1430:
        return 1430
    elif b <= 1440:
        return 1440
    elif b <= 1450:
        return 1450
    elif b <= 1500:
        return 1500
    elif b <= 1510:
        return 1510
    elif b <= 1520:
        return 1520
    elif b <= 1530:
        return 1530

### 외국인 투자자 거래실적 데이터 프레임과 외국인 보유량 데이터 프레임 병합

In [29]:
# 두 데이터 프레임 병합
foreign = pd.merge(full_df, foreign_201230_info, how="left", on="종목명")
foreign.head()

,거래일자,종목코드,종목명,거래시각,투자자구분코드,매도거래량,매도거래대금,매수거래량,매수거래대금,상장주식수,외국인 보유수량,외국인 지분율
0,20210104,KR7000070003,삼양홀딩스,1000,9000,196,14518000,1,74400,8564271,671877,7.85
1,20210104,KR7000070003,삼양홀딩스,1001,9000,0,0,85,6261800,8564271,671877,7.85
2,20210104,KR7000070003,삼양홀딩스,1003,9000,93,6845000,0,0,8564271,671877,7.85
3,20210104,KR7000070003,삼양홀딩스,1004,9000,62,4575600,0,0,8564271,671877,7.85
4,20210104,KR7000070003,삼양홀딩스,1005,9000,1,73700,0,0,8564271,671877,7.85

In [30]:
# "외국인 보유수량" 컬럼 생성 및 계산
foreign["외국인 보유수량"] = (foreign["외국인 보유수량"] - foreign["매도거래량"] + foreign["매수거래량"])
# "외국인 지분율" 컬럼 생성 및 계산
foreign["외국인 지분율"] = (foreign["외국인 보유수량"]/foreign["상장주식수"])*100
# 외국인 "지분율 변화" 컬럼 생성 및 계산
foreign["지분율 변화"] = foreign.groupby(["종목명"])["외국인 지분율"].diff() 

# 거래시각 10분별로 나누기
foreign["거래시각"] = foreign["거래시각"].apply(test)

foreign.head()

,거래일자,종목코드,종목명,거래시각,투자자구분코드,매도거래량,매도거래대금,매수거래량,매수거래대금,상장주식수,외국인 보유수량,외국인 지분율,지분율 변화
0,20210104,KR7000070003,삼양홀딩스,1000,9000,196,14518000,1,74400,8564271,671682,7.842839,NaN
1,20210104,KR7000070003,삼양홀딩스,1010,9000,0,0,85,6261800,8564271,671962,7.846109,0.003269
2,20210104,KR7000070003,삼양홀딩스,1010,9000,93,6845000,0,0,8564271,671784,7.844030,-0.002078
3,20210104,KR7000070003,삼양홀딩스,1010,9000,62,4575600,0,0,8564271,671815,7.844392,0.000362
4,20210104,KR7000070003,삼양홀딩스,1010,9000,1,73700,0,0,8564271,671876,7.845104,0.000712

In [ ]:
# csv 파일로 저장
foreign.to_csv('./csv/foreigner/외국인_2021.csv', encoding='CP949')

In [28]:
# 삼성전자만 뽑아보기
samsung = foreign[foreign["종목명"]=="삼성전자"]
samsung

,거래일자,종목코드,종목명,거래시각,투자자구분코드,매도거래량,매도거래대금,매수거래량,매수거래대금,상장주식수,외국인 보유수량,외국인 지분율,지분율 변화
10990,20210104,KR7005930003,삼성전자,1000,9000,919214,74458175800,598313,48465612600,5969782550,3326145679,55.716362,NaN
10991,20210104,KR7005930003,삼성전자,1010,9000,50426,4081018000,41192,3335381800,5969782550,3327080680,55.732025,0.015662
10992,20210104,KR7005930003,삼성전자,1010,9000,29785,2400101900,27935,2253954900,5969782550,3327102832,55.732396,0.000371
10993,20210104,KR7005930003,삼성전자,1010,9000,36258,2913534600,20435,1641887600,5969782550,3327060913,55.731693,-0.000702
10994,20210104,KR7005930003,삼성전자,1010,9000,56521,4544236200,23545,1892990600,5969782550,3327009454,55.730832,-0.000862
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3598851,20210331,KR7005930003,삼성전자,1520,9000,45775,3736105300,37782,3083236300,5969782550,3327084403,55.732087,0.000469
3598852,20210331,KR7005930003,삼성전자,1520,9000,46138,3767316500,35011,2860257700,5969782550,3327075001,55.731929,-0.000157
3598853,20210331,KR7005930003,삼성전자,1520,9000,21395,1747396000,15534,1269112100,5969782550,3327090799,55.732194,0.000265
3598854,20210331,KR7005930003,삼성전자,1520,9000,94353,7704451500,6284,513343000,5969782550,3326844175,55.728063,-0.004131
3598855,20210331,KR7005930003,삼성전자,1530,9000,2785240,226718536000,1167675,95048745000,5969782550,3322255687,55.651201,-0.076862