In [5]:
import pandas as pd

# 사용할 종목명 
comp_name = pd.read_excel('./csv/2022년 기준 코스피 상위종목_금융업제외.xlsx')
comp_name_list = comp_name["종목명"].values.tolist()
comp_name_list[:5]

['삼성전자', 'SK하이닉스', '삼성바이오로직스', '삼성전자우', '현대차']

### 투자자별 거래실적

In [20]:
import os

# 투자자별 거래실적 경로
path = './csv/유가증권/투자자별 거래실적(1분)/2022/'

# 빈 리스트 생성
file_list = []

# 경로 내 모든 csv파일 리스트에 저장
for filename in os.listdir(path):
    if filename.endswith('.csv'):
        file_list.append(filename)

# 파일 정렬
file_list.sort()
# 빈 데이터 프레임 생성
full_df = pd.DataFrame()

# 리스트에 저장된 파일 하나씩 불러오기
for file in file_list:
    # print(file)
    temp_df = pd.read_csv(path+file, encoding='CP949')

    # 데이터 프레임 내 "종목명" 컬럼 값 리스트 생성
    temp_df_list = temp_df["종목명"].tolist()
    
    # 제거할 종목명 리스트
    drop_list = [x for x in temp_df_list if x not in comp_name_list]
    
    # 불필요 종목 제거
    temp_df.drop(temp_df[temp_df["종목명"].isin(drop_list)].index, inplace=True)
    # "시장ID" 컬럼 제거
    temp_df.drop(["시장ID"], axis=1, inplace=True)
    # 외국인투자자 코드 9000을 제외한 나머지 코드 제거
    temp_df.drop(temp_df[temp_df["투자자구분코드"]!=9000].index, inplace=True)
    # 오전 9시 이전 거래 제거
    temp_df.drop(temp_df[temp_df["거래시각"] < 900].index, inplace=True)
    # 오후 3시30분 이후 거래 제거
    temp_df.drop(temp_df[temp_df["거래시각"] > 1530].index, inplace=True)
    # 인덱스 재설정
    temp_df.reset_index(drop=True, inplace=True)
    
    # 모든 데이터 프레임 하나의 데이터 프레임에 저장
    full_df = pd.concat([full_df, temp_df])

In [22]:
# csv 파일로 저장
full_df.to_csv('./csv/유가증권/2022_투자자별_거래실적.csv', encoding='CP949')

In [23]:
full_df = pd.read_csv('./csv/유가증권/2022_투자자별_거래실적.csv', encoding='CP949')

### 외국인 보유량

In [24]:
# 2021년 외국인 보유량 csv 불러오기
foreign_211230_info = pd.read_csv('./csv/2021_foreigner/data_4923_20220719.csv', encoding='CP949')

# 데이터 프레임 내 "종목명" 컬럼 값 리스트 생성
foreign_211230_list = foreign_211230_info["종목명"].tolist()

# 제거해야 할 종목 리스트
drop_list = [x for x in foreign_211230_list if x not in comp_name_list]        

# 불필요 종목 제거
foreign_211230_info.drop(foreign_211230_info[foreign_211230_info["종목명"].isin(drop_list)].index, inplace=True)
# 인덱스 재설정
foreign_211230_info.reset_index(drop=True, inplace=True)

# 필요한 컬럼만 남긴다
foreign_211230_info = foreign_211230_info[["종목명", "상장주식수", "외국인 보유수량", "외국인 지분율"]]
foreign_211230_info

        종목명      상장주식수  외국인 보유수량  외국인 지분율
0       BGF   95716791   4973075     5.20
1    BGF리테일   17283906   5608224    32.45
2        CJ   29176998   5004781    17.15
3    CJ CGV   37953412   1977197     5.21
4    CJ대한통운   22812344   4853711    21.28
..      ...        ...       ...      ...
250  효성첨단소재    4479948    457245    10.21
251   효성티앤씨    4327682    771970    17.84
252    효성화학    3190126    241181     7.56
253      후성   92606819   6833256     7.38
254    흥아해운  240424899   2048398     0.85

[255 rows x 4 columns]

In [25]:
# 거래시각 10분 별로 나누는 함수
def test(b):
    if b <= 910:
        return 910
    elif b <= 920:
        return 920
    elif b <= 930:
        return 930
    elif b <= 940:
        return 940
    elif b <= 950:
        return 950
    elif b <= 1000:
        return 1000
    elif b <= 1010:
        return 1010
    elif b <= 1020:
        return 1020
    elif b <= 1030:
        return 1030
    elif b <= 1040:
        return 1040
    elif b <= 1050:
        return 1050
    elif b <= 1100:
        return 1100
    elif b <= 1110:
        return 1110
    elif b <= 1120:
        return 1110
    elif b <= 1130:
        return 1110
    elif b <= 1140:
        return 1110
    elif b <= 1150:
        return 1110
    elif b <= 1200:
        return 1200
    elif b <= 1210:
        return 1210
    elif b <= 1220:
        return 1220
    elif b <= 1230:
        return 1230
    elif b <= 1240:
        return 1240
    elif b <= 1250:
        return 1250
    elif b <= 1300:
        return 1300
    elif b <= 1310:
        return 1310
    elif b <= 1320:
        return 1320
    elif b <= 1330:
        return 1330
    elif b <= 1340:
        return 1340
    elif b <= 1350:
        return 1350
    elif b <= 1400:
        return 1400
    elif b <= 1410:
        return 1410
    elif b <= 1420:
        return 1420
    elif b <= 1430:
        return 1430
    elif b <= 1440:
        return 1440
    elif b <= 1450:
        return 1450
    elif b <= 1500:
        return 1500
    elif b <= 1510:
        return 1510
    elif b <= 1520:
        return 1520
    elif b <= 1530:
        return 1530

### 외국인 투자자 거래실적 데이터 프레임과 외국인 보유량 데이터 프레임 병합

In [26]:
# 두 데이터 프레임 병합
foreign = pd.merge(full_df, foreign_211230_info, how="left", on="종목명")
foreign.drop("Unnamed: 0", axis=1, inplace=True)
foreign.head()

,거래일자,종목코드,종목명,거래시각,투자자구분코드,매도거래량,매도거래대금,매수거래량,매수거래대금,상장주식수,외국인 보유수량,외국인 지분율
0,20220103,KR7000070003,삼양홀딩스,1000,9000,1,98300,1,98300,8564271,696665,8.13
1,20220103,KR7000070003,삼양홀딩스,1001,9000,0,0,5,492000,8564271,696665,8.13
2,20220103,KR7000070003,삼양홀딩스,1002,9000,47,4639200,0,0,8564271,696665,8.13
3,20220103,KR7000070003,삼양홀딩스,1004,9000,17,1674500,0,0,8564271,696665,8.13
4,20220103,KR7000070003,삼양홀딩스,1006,9000,21,2068500,0,0,8564271,696665,8.13

In [27]:
# "외국인 보유수량" 컬럼 생성 및 계산
foreign["외국인 보유수량"] = (foreign["외국인 보유수량"] - foreign["매도거래량"] + foreign["매수거래량"])
# "외국인 지분율" 컬럼 생성 및 계산
foreign["외국인 지분율"] = (foreign["외국인 보유수량"]/foreign["상장주식수"])*100
# 외국인 "지분율 변화" 컬럼 생성 및 계산
foreign["지분율 변화"] = foreign.groupby(["종목명"])["외국인 지분율"].diff() 

# 거래시각 10분별로 나누기
foreign["거래시각"] = foreign["거래시각"].apply(test)

# foreign["지분율 합계"] = foreign.groupby(["종목명", "거래시각"])["지분율 변화"].sum()

foreign.head()

,거래일자,종목코드,종목명,거래시각,투자자구분코드,매도거래량,매도거래대금,매수거래량,매수거래대금,상장주식수,외국인 보유수량,외국인 지분율,지분율 변화
0,20220103,KR7000070003,삼양홀딩스,1000,9000,1,98300,1,98300,8564271,696665,8.134551,NaN
1,20220103,KR7000070003,삼양홀딩스,1010,9000,0,0,5,492000,8564271,696670,8.134609,0.000058
2,20220103,KR7000070003,삼양홀딩스,1010,9000,47,4639200,0,0,8564271,696618,8.134002,-0.000607
3,20220103,KR7000070003,삼양홀딩스,1010,9000,17,1674500,0,0,8564271,696648,8.134353,0.000350
4,20220103,KR7000070003,삼양홀딩스,1010,9000,21,2068500,0,0,8564271,696644,8.134306,-0.000047

In [28]:
# csv 파일로 저장
foreign.to_csv('./csv/foreigner/외국인_2022.csv', encoding='CP949')

### 거래일자별, 종목별, 거래시각별 지분율 변화 데이터 프레임 생성

In [34]:
# 빈 데이터 프레임 생성
change_df = pd.DataFrame()

change_df["거래일자"] = foreign["거래일자"]
change_df["종목명"] = foreign["종목명"]
change_df["거래시각"] = foreign["거래시각"]
change_df["지분율 변화"] = foreign["지분율 변화"]

change_df.dropna()
change_df.reset_index(drop=True, inplace=True)

# 파일 내 전체 거래일자별, 종목별, 거래시각별 지분율 변화
change_df = change_df.groupby(["거래일자", "종목명", "거래시각"])["지분율 변화"].sum()
change_df

# 한 종목의 거래일자별, 거래시각별 지분율 변화
# e_df[e_df["종목명"]=="삼성전자"].groupby(["거래일자", "거래시각"])["지분율 변화"].sum()

거래일자      종목명   거래시각
20220103  BGF   1000    0.000000
                1010    0.000003
                1020    0.001563
                1030   -0.001563
                1040    0.000123
                          ...
20220331  흥아해운  1450   -0.000523
                1500    0.000745
                1510   -0.000524
                1520   -0.000259
                1530   -0.000111
Name: 지분율 변화, Length: 497784, dtype: float64

In [36]:
change_df.to_csv('./csv/2022_거래시각별_지분율_합계.csv', encoding='CP949')

In [39]:
change_df = pd.read_csv('./csv/2022_거래시각별_지분율_합계.csv', encoding='CP949')
change_df[change_df["종목명"]=="삼성전자"]

            거래일자   종목명  거래시각    지분율 변화
3235    20220103  삼성전자  1000  0.000000
3236    20220103  삼성전자  1010 -0.007183
3237    20220103  삼성전자  1020  0.000205
3238    20220103  삼성전자  1030  0.000404
3239    20220103  삼성전자  1040 -0.000391
...          ...   ...   ...       ...
493169  20220331  삼성전자  1450 -0.003905
493170  20220331  삼성전자  1500  0.003267
493171  20220331  삼성전자  1510 -0.000170
493172  20220331  삼성전자  1520  0.000672
493173  20220331  삼성전자  1530 -0.016265

[2060 rows x 4 columns]

In [40]:
def set_time(t):
    for hour in range(910, 1530, 100):
        for minute in range(0, 60, 10):
            time = hour+minute
            if t <= time:
                return time

In [40]:
foreign[foreign["종목명"]=="삼성전자"]

,거래일자,종목코드,종목명,거래시각,투자자구분코드,매도거래량,매도거래대금,매수거래량,매수거래대금,상장주식수,외국인 보유수량,외국인 지분율,지분율 변화
13002,20220103,KR7005930003,삼성전자,1000,9000,220539,17504774800,635362,50416633500,5969782550,3099077809,51.912742,NaN
13003,20220103,KR7005930003,삼성전자,1010,9000,16233,1287541000,92882,7363650200,5969782550,3098739635,51.907077,-0.005665
13004,20220103,KR7005930003,삼성전자,1010,9000,49025,3886945500,199955,15850273900,5969782550,3098813916,51.908321,0.001244
13005,20220103,KR7005930003,삼성전자,1010,9000,1498,118666100,32886,2606952700,5969782550,3098694374,51.906319,-0.002002
13006,20220103,KR7005930003,삼성전자,1010,9000,10862,858952800,15328,1212370900,5969782550,3098667452,51.905868,-0.000451
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3933653,20220331,KR7005930003,삼성전자,1520,9000,19524,1360535200,1476,102877200,5969782550,3098644938,51.905491,0.000779
3933654,20220331,KR7005930003,삼성전자,1520,9000,28534,1987149400,885,61684500,5969782550,3098635337,51.905330,-0.000161
3933655,20220331,KR7005930003,삼성전자,1520,9000,78651,5481611600,10013,697942400,5969782550,3098594348,51.904643,-0.000687
3933656,20220331,KR7005930003,삼성전자,1520,9000,16474,1148429700,2582,180148600,5969782550,3098649094,51.905561,0.000917
3933657,20220331,KR7005930003,삼성전자,1530,9000,2564828,178512028800,1579978,109966468800,5969782550,3097678136,51.889296,-0.016265